.section-blur div {
	inset: calc(var(--spacing) * 0);
	z-index: var(--index);
	-webkit-mask: linear-gradient(
		90deg,
		transparent calc(var(--index) * calc((100 / var(--blurs)) * 1%)),
		black calc((var(--index) + 1) * calc((100 / var(--blurs)) * 1%)),
		black calc((var(--index) + 2) * calc((100 / var(--blurs)) * 1%)),
		transparent calc((var(--index) + 3) * calc((100 / var(--blurs)) * 1%))
	);
	mask: linear-gradient(
		90deg,
		transparent calc(var(--index) * calc((100 / var(--blurs)) * 1%)),
		black calc((var(--index) + 1) * calc((100 / var(--blurs)) * 1%)),
		black calc((var(--index) + 2) * calc((100 / var(--blurs)) * 1%)),
		transparent calc((var(--index) + 3) * calc((100 / var(--blurs)) * 1%))
	);
	-webkit-backdrop-filter: blur(calc((var(--index, 0) * var(--blur, 0)) * 2px));
	backdrop-filter: blur(calc((var(--index, 0) * var(--blur, 0)) * 2px));
	position: absolute;
}
